body{
    position: relative;
}
#navbar{
    background-color: black;
    color: white;
    font-size: large;
    margin-bottom: 5px;
}
#navbar a{
    padding-left: 4%;
    
}
#navbar li{
    padding-left: 2%;
    padding-right: 2%;
    
}
#navbar li:hover{
    
    background-color: gray;
    
}
#navbar a:hover{
    color: white;
}

footer{
    background-color: black;
    color: white;
    font-size: large;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer p{
    margin-top: 5px;
    margin-bottom: 5px;
}

/* #pag a{
    background-color: black;
    color: white;
} */

#pag>li.active>.page-link {
    background: red;
    border-color: pink;
    color: #fff;
}
