nav{
    background-color: black;
    color: white;
    font-size: large;
}
nav a{
    padding-left: 4%;
    
}
nav li{
    padding-left: 2%;
    padding-right: 2%;
    
}
nav li:hover{
    
    background-color: gray;
    
}
nav a:hover{
    color: white;
}

