body{
    position: relative;
}
nav{
    background-color: black;
    color: white;
    font-size: large;
}
nav a{
    padding-left: 4%;
    
}
nav li{
    padding-left: 2%;
    padding-right: 2%;
    
}
nav li:hover{
    
    background-color: gray;
    
}
nav a:hover{
    color: white;
}

footer{
    background-color: black;
    color: white;
    font-size: large;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer p{
    margin-top: 5px;
    margin-bottom: 5px;
}

